/* Left Menu */
.left-menu{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    width: 15%;
    height: 100%;
    padding: 10px; 
    border-radius: 5px;
}
.profile-infos{

}
.profile-name{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.profile-job{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.icons{
    width: 30px;
    height: 30px;
}
.profile-about{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

.profile-langs{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    width: 100%;
}

.progress-container{
    margin-bottom: 10px;
    margin-top: 5px;
}

.progress-key, .progress-value {
    display: inline-block;
    margin-right: 10px; /* Ajuste conforme necessário */
}

.progress-bar{
    background-color: #b5b3b0;
    border-radius: 5px;
    overflow: hidden;
    height: 5px;
    width: 100%;
    margin-top: 5px;
}
.progress{
    height: 5px;
    background-color: #FFB400;
    border-radius: 5px;
    width: 0;
    transition: width 0.3s;
}
.download-button{
    background-color: #e2f364;
    border-radius: 5px;
    margin: 10% auto;
    width: 80%;
    height: 50px;
    padding: 5px;
    display: block
}
.download-button:hover{
    background-color: #FFB400;
}
.download-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:bold;
    text-transform: uppercase;
    color: #000;    
}
/* Main Menu */
.main-menu{
    background-color: #E4E6EB;

}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
/* Right Menu */
.right-menu{
    background-color: #ffffff;
    width: 5%;
    height: 100%;
    padding: 10px; 
    border-radius: 5px; 
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.top-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 25px auto;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    padding-top: 10px;
    position: relative;
    margin-bottom: 50px;
}
.top-icon svg {
    display: block;
}
.rigth-menu-icon{
    width: 60px;
    height: 60px;
    background-color: #a8a6a29c;
    border-radius: 50%;
    margin: 25px auto;
    align-items: center;
    display: flex; 
    align-items: center; 
    justify-content: center;

}
.rigth-menu-icon:hover{
    background-color: #FFB400;
}