/* Left Menu */
.left-menu{
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 100%;
    padding: 10px; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;  
}
.profile-about{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center
}
.profile-photo{
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #f0f0f0;
}
.profile-photo img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}
.profile-name{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    margin: 0px;
}
.profile-job{
    font-size: 15px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.icons{
    margin: 0px;
    width: 30px;
    height: 30px;
}
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 80%;
    gap: 10px;
}

.profile-item {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.profile-key {
    background-color: #FFA500; 
    font-weight: bold;
    padding: 5px;
    border-radius: 3px; 
}

.profile-value {
    flex: 1;
    text-align: right;
    padding-left: 10px;
}
  
.profile-info p {
    margin-bottom: 5px;
}

.profile-langs ,.profile-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 70%;

}
.progress-container{
    margin-bottom: 10px;
    margin-top: 5px;
}

.progress-key, .progress-value {
    display: inline-block;
    margin-right: 10px; /* Ajuste conforme necessário */
}

.progress-bar{
    background-color: #b5b3b0;
    border-radius: 5px;
    overflow: hidden;
    height: 5px;
    width: 100%;
    margin-top: 5px;
}
.progress{
    height: 5px;
    background-color: #FFB400;
    border-radius: 5px;
    width: 0;
    transition: width 0.3s;
}
.download-button{
    background-color: #FFB400;
    border-radius: 5px;
    margin: 10% auto;
    width: 80%;
    height: 50px;
    padding: 5px;
    display: block
}
.download-button:hover{
    background-color: #cc9516d2;
}
.download-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:bold;
    text-transform: uppercase;
    color: #000;    
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
.divider{
    width: 80%;
    height: 1px;
    background-color: #e0e0e0;
}
.description-text{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 0px
}

/*MAIN MENU*/
/* Main Menu */
.main-menu{
    background-color: #E4E6EB;
    display: flex;
    justify-content: center;

}
/* Middle Menu */
.middle-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 320px;
}

.middle-home{
    width: 60%;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
    padding: 40px 20px 20px 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}

.header-title{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}
.header-text{
    word-wrap: break-word;
    overflow-wrap: break-word; 
    width: 90%;
    min-width: 50%;
}
.header-profile{
    width: 900px;
    height: 300px;
    background-color: #FFB400;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.header-profile img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
    height: 100%; /* Faz com que a imagem ocupe toda a altura do contêiner */
    object-fit: cover; /* Garante que a imagem cobre o contêiner sem distorção */
}
.header-button{
    background-color: #FFB400;
    border-radius: 5px;
    height: 50px;
    padding: 16px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.middle-item-title{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin: 35px;
}
.middle-item-text{
    font-size: 15px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    margin-top: 0px;
}
.header-button:hover {
    color: white;
}

/* Projects */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
    width: 90%;
}

.item-container {
    width: 100%;
    height: 400px; 
    max-width: 300px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.item-img{
    border: #000 1px solid;
    width: 80%;
    height: 200px;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-description{
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word; 
}

.item-description h3{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}
.item-description p{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}
/* Education */
.middle-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
    width: 100%; 
    padding: 5px; 
    box-sizing: border-box; 
}
/* Double column */
.double-column{
    display: flex;
    justify-content: center; 
    padding: 20px;
    width: 100%;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    padding: 20px;
    background-color: #ffffff; 
}
.item-content{
    flex: 1;
    margin-right: 20px;
}
.item-key{
    margin: 0;
    font-size: 1.2em;
}
.item-duration{
    margin: 5px 0;
    color: #777;
}
.item-description{
    flex: 2;
}
/*Forms*/
.double-column-contact{
    display: flex;
    width: 85%;
    box-sizing: border-box; 
    gap:10px;
}
.form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.contact-form {
    width: 100%;
    padding: 15px;
}

.contact-form-text{
    color:#767676;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin: 5px 0 0 0;
}
.contact-form input{
    width: 100%;
    height: 50px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color:#E4E6EB ;
    box-sizing: border-box;
}
.contact-form textarea{
    width: 100%;
    height: 200px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color:#E4E6EB ;
    box-sizing: border-box;
}
.contact-button{
    background-color: #FFB400;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    display: block;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-button:hover{
    color: white;
}
.contact-infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}
.square-contact{
    width: 300px;
    height: 200px; 
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    flex-direction: column;
}

.square-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 180, 0, 0.95);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-text{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-text-key{
    font-weight: bold;
    align-items: flex-start; 
}
.contact-text-value{
    margin-left: 10px;
}

/* Right Menu */
/* Right Menu */
.right-menu{
    background-color: #ffffff;
    width: 5%;
    height: 100%;
    padding: 10px; 
    border-radius: 5px; 
    right: 0;
    top: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.top-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 25px auto;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    padding-top: 10px;
    position: relative;
    margin-bottom: 50px;
}
.top-icon svg {
    display: block;
}
.rigth-menu-icon{
    width: 60px;
    height: 60px;
    background-color: #a8a6a29c;
    border-radius: 50%;
    margin: 25px auto;
    align-items: center;
    display: flex; 
    align-items: center; 
    justify-content: center;

}
.rigth-menu-icon:hover{
    background-color: #FFB400;
}